---
import ThemeToggle from "./ThemeToggle.astro";
import { siteConfig } from "../config";
import Search from "./Search.astro";
import { getRelativeLocaleUrl } from "astro:i18n";

const locale = Astro.currentLocale as "de" | "en";

const navItemsBase = [
  { href: "", key: "home" },
  { href: "professional", key: "professional" },
  { href: "volunteer", key: "volunteer" },
  { href: "club-memberships", key: "clubMemberships" },
  { href: "blog", key: "blog" },
  { href: "tags", key: "tags" },
  { href: "archive", key: "archive" },
];

const translations = {
  en: {
    home: "Home",
    professional: "Profession",
    volunteer: "Volunteering",
    clubMemberships: "Club Memberships",
    blog: "Blog",
    tags: "Tags",
    archive: "Archive",
  },
  de: {
    home: "Startseite",
    professional: "Beruf",
    volunteer: "Ehrenamt",
    clubMemberships: "Vereinsmitgliedschaften",
    blog: "Blog",
    tags: "Tags",
    archive: "Archiv",
  },
};

const navItems = navItemsBase.map((item) => ({
  href: getRelativeLocaleUrl(locale, item.href),
  text: translations[locale][item.key as keyof typeof translations.en],
}));

const otherLocale = locale === "en" ? "de" : "en";
const otherLocaleUrl = getRelativeLocaleUrl(otherLocale, "");
---

<header class="py-6">
  <nav class="flex justify-between items-center flex-wrap">
    <a
      href={getRelativeLocaleUrl(locale, "")}
      class="text-2xl font-bold text-gray-900 dark:text-white"
      >{siteConfig.title}</a
    >
    <div class="flex items-center gap-6">
      <ul class="flex gap-6">
        {
          navItems.map(({ href, text }) => (
            <li>
              <a
                href={href}
                class="text-gray-700 dark:text-gray-100 hover:text-gray-900 dark:hover:text-white"
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
      <a
        href={otherLocaleUrl}
        class="text-sm text-gray-700 dark:text-gray-100 hover:text-gray-900 dark:hover:text-white"
      >
        {otherLocale.toUpperCase()}
      </a>
      {siteConfig.search && <Search />}
      <ThemeToggle />
    </div>
  </nav>
</header>
